<!DOCTYPE html>
<html>
  <head>
    <title>REAL TIME PAGE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="realtimepage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="title">REAL TIME DATA</h2>
        <table>
            <tr>1동
              <td>온도1: </td><td>온도2: </td><td>온도3: </td><td>온도4: </td><td>온도5: </td><td>온도6: </td>
            </tr>
            <tr>
              <td>습도1: </td><td>습도2: </td><td>습도3: </td><td>습도4: </td><td>습도5: </td><td>습도6: </td>
            </tr>
            <tr>
              <td>평균온도: </td><td>평균습도: </td><td>목표온도: </td><td>환기량: </td><td>팬모드: </td><td>가습모드: </td>
            </tr>
            <tr>
              <td>팬1: </td><td>팬2: </td><td>팬3: </td><td>가습: </td>
            </tr>
            <tr>2동
              <td>온도1: </td><td>온도2: </td><td>온도3: </td><td>온도4: </td><td>온도5: </td><td>온도6: </td>
            </tr>
            <tr>
              <td>습도1: </td><td>습도2: </td><td>습도3: </td><td>습도4: </td><td>습도5: </td><td>습도6: </td>
            </tr>
            <tr>
              <td>평균온도: </td><td>평균습도: </td><td>목표온도: </td><td>환기량: </td><td>팬모드: </td><td>가습모드: </td>
            </tr>
            <tr>
              <td>팬1: </td><td>팬2: </td><td>팬3: </td><td>가습: </td>
            </tr>
          </table>
      </div>
    </div>
  </body>
</html>