<!DOCTYPE html>
<html>
<head>
  <title>과거 데이터</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
  <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="pastdatapage.css" >

  <script>
    
  </script>
</head>
<!-- ####################문서 바디 시작#################### -->
<!-- ####################문서 바디 시작#################### -->
<body>	
</body>
</html>