<!DOCTYPE html>
<html>
<head>
	<title>REALTIME DATA</title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="realtimepage.css" >
  <script>
    var socket = io();
    var currentUser;
    $(document).ready(function(){
      socket.emit('userWho');
      socket.on('userIs', function(user){
        currentUser = user;
        $('#currentUser').html(currentUser);
      });
    });
  </script>
</head>
<body>	
  <div id="currentUser">
    --
  </div>
  <div class="table-title">
    <h3>HOUSE1</h3>
  </div>
  <table class="table-fill">
    <tr>
      <th class="text-left">온도1</th>
      <th class="text-left">온도2</th>
      <th class="text-left">온도3</th>
      <th class="text-left">온도4</th>
      <th class="text-left">온도5</th>
      <th class="text-left">온도6</th>
    </tr>
    <tr>
      <td id="h1t1" class="text-left">--.-</th>
      <td id="h1t2" class="text-left">--.-</th>
      <td id="h1t3" class="text-left">--.-</th>
      <td id="h1t4" class="text-left">--.-</th>
      <td id="h1t5" class="text-left">--.-</th>
      <td id="h1t6" class="text-left">--.-</th>
    </tr>
    <tr>
      <th class="text-left">평균온도</th>
      <th class="text-left">평균습도</th>
      <th class="text-left">목표온도</th>
      <th class="text-left">환기량</th>
      <th class="text-left">팬모드</th>
      <th class="text-left">가습모드</th>
    </tr>
    <tr>
      <td id="h1avgtemp" class="text-left">--.-</th>
      <td id="h1avghumid" class="text-left">--.-</th>
      <td id="h1tartemp" class="text-left">--.-</th>
      <td id="h1ventilper" class="text-left">--.-%</th>
      <td id="h1fanmode" class="text-left">---</th>
      <td id="h1humidifiermode" class="text-left">---</th>
    </tr>
    <tr>
      <th class="text-left">팬1</th>
      <th class="text-left">팬2</th>
      <th class="text-left">팬3</th>
      <th class="text-left">가습기</th>
      <th class="text-left">알람</th>
      <th class="text-left">상태</th>
    </tr>
    <tr>
      <td id="h1fan1state" class="text-left">---</th>
      <td id="h1fan2state" class="text-left">---</th>
      <td id="h1fan3state" class="text-left">---</th>
      <td id="h1humidifierstate" class="text-left">---</th>
      <td id="h1alarm" class="text-left">---</th>
      <td id="h1farmstate" class="text-left">---</th>
    </tr>
  </table>
  <div class="table-title">
    <h3>HOUSE2</h3>
  </div>>
  <table class="table-fill">
    <tr>
      <th class="text-left">온도1</th>
      <th class="text-left">온도2</th>
      <th class="text-left">온도3</th>
      <th class="text-left">온도4</th>
      <th class="text-left">온도5</th>
      <th class="text-left">온도6</th>
    </tr>
    <tr>
      <td id="h2t1" class="text-left">--.-</th>
      <td id="h2t2" class="text-left">--.-</th>
      <td id="h2t3" class="text-left">--.-</th>
      <td id="h2t4" class="text-left">--.-</th>
      <td id="h2t5" class="text-left">--.-</th>
      <td id="h2t6" class="text-left">--.-</th>
    </tr>
    <tr>
      <th class="text-left">평균온도</th>
      <th class="text-left">평균습도</th>
      <th class="text-left">목표온도</th>
      <th class="text-left">환기량</th>
      <th class="text-left">팬모드</th>
      <th class="text-left">가습모드</th>
    </tr>
    <tr>
      <td id="h2avgtemp" class="text-left">--.-</th>
      <td id="h2avghumid" class="text-left">--.-</th>
      <td id="h2tartemp" class="text-left">--.-</th>
      <td id="h2ventilper" class="text-left">--.-%</th>
      <td id="h2fanmode" class="text-left">---</th>
      <td id="h2humidifiermode" class="text-left">---</th>
    </tr>
    <tr>
      <th class="text-left">팬1</th>
      <th class="text-left">팬2</th>
      <th class="text-left">팬3</th>
      <th class="text-left">가습기</th>
      <th class="text-left">알람</th>
      <th class="text-left">상태</th>
    </tr>
    <tr>
      <td id="h2fan1state" class="text-left">---</th>
      <td id="h2fan2state" class="text-left">---</th>
      <td id="h2fan3state" class="text-left">---</th>
      <td id="h2humidifierstate" class="text-left">---</th>
      <td id="h2alarm" class="text-left">---</th>
      <td id="h2farmstate" class="text-left">---</th>
    </tr>
  </table>
</body>
</html>